.hero {
  position: relative;
  min-height: 55vh;
  padding-top: calc(#{$header-h} + #{$sp-3});
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
  z-index: 0;

  left: 50%;
  transform: translateX(-50%);
}

.hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.35);
}

.hero__gradient {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    rgba($color-bg, 0.8) 10%,
    rgba($color-bg, 0.7) 20%,
    rgba($color-bg, 0.3) 40%,
    rgba($color-bg, 0.3) 55%,
    rgba($color-bg, 0.3) 70%,
    rgba($color-bg, 0.6) 85%,
    rgba($color-bg, 0.9) 100%
  );
}

/* КОНТЕНТ */
.hero__container {
  position: relative;
  z-index: 3;
  min-height: 55vh;
  display: flex;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: $sp-6;
}

.hero__title {
  font-size: $fs-h1;
  line-height: 1.1;

  span {
    color: $color-accent;
  }
}

.hero__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.22em;
  color: $color-muted;
}

.hero__lead {
  max-width: 34ch;
  color: $color-muted;
  font-size: $fs-body;
  line-height: $lh-base;
}

.hero__actions {
  display: flex;
  gap: $sp-5;
}

.hero__button {
  @extend .btn;
  @extend .btn--outline;
}
