@import 'variables';
@import 'reset';
@import 'base';

// Components

@import 'components/header';
@import 'components/hero';
@import 'components/formats';
@import 'components/details';
@import 'components/about';
@import 'components/reviews';
@import 'components/prices';
@import 'components/faq';
@import 'components/contacts';
@import 'components/footer';
